<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="{{ "favicon_io/apple-touch-icon.png" | relURL }}">
        <link rel="icon" type="image/svg+xml" href="{{ "favicon_io/favicon.svg" | relURL }}">
        <link rel="icon" type="image/png" href="{{ "favicon_io/favicon.png" | relURL }}">
        <link rel="preload" href="https://cdn.tailwindcss.com" as="script">
        <style>
            html, body {
                background-color: #FFFFFF;
                color: #1f2937;
            }
            html.dark, html.dark body {
                background-color: #121212;
                color: #f3f4f6;
            }
            .border {
                border-color: #d4d4d8;
            }
            html.dark .border {
                border-color: #374151;
            }
        </style>

        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                darkMode: 'class',
                theme: {
                    extend: {
                        fontFamily: {
                            sans: ['Space Grotesk', 'sans-serif'],
                        },
                        colors: {
                            'bg-primary-light': '#ffffff',
                            'bg-secondary-light': '#f5f5f5',
                            'text-primary-light': '#262626',
                            'text-secondary-light': '#525252',
                            'border-primary-light': '#d4d4d4',
                            'accent-light': '#324ED8',

                            'bg-primary-dark': '#121212',
                            'bg-secondary-dark': '#1a1a1a',
                            'bg-tertiary-dark': '#1a1a1a',
                            'text-primary-dark': '#f5f5f5',
                            'text-secondary-dark': '#a3a3a3',
                            'border-primary-dark': '#404040',
                            'accent-dark': '#324ED8',
                        },
                    },
                },
            }
        </script>
        <script>
            if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        </script>
    </head>
    <body class="min-h-screen bg-bg-primary-light dark:bg-bg-primary-dark text-text-primary-light dark:text-text-primary-dark">
        {{ partial "header" . }}
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        {{ partial "footer" . }}
    </body>
</html>